In [1]:
import pandas as pd

In [3]:
# Import the csv file
csv_1 = 'Resources/2016poverty.csv'
poverty_2016 = pd.read_csv(csv_1)

In [4]:
#Check the contents
poverty_2016

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total,Footnotes
0,United States,0.100,0.238,0.210,0.120,0.273,0.174,0.141,1.0
1,Alabama,0.121,0.279,0.319,0.118,0.126,0.251,0.173,NaN
2,Alaska,0.068,NaN,0.178,NaN,0.274,0.104,0.106,NaN
3,Arizona,0.110,0.211,0.238,0.136,0.360,0.155,0.165,NaN
4,Arkansas,0.138,0.288,0.255,0.129,0.263,0.254,0.172,NaN
5,California,0.096,0.223,0.190,0.113,0.226,0.132,0.144,NaN
6,Colorado,0.081,0.190,0.172,0.116,0.223,0.152,0.108,NaN
7,Connecticut,0.058,0.182,0.194,0.096,NaN,0.137,0.095,NaN
8,Delaware,0.080,0.151,0.287,0.085,NaN,0.173,0.117,NaN
9,District of Columbia,0.076,0.281,0.217,0.140,NaN,NaN,0.191,NaN
10,Florida,0.106,0.227,0.190,0.123,0.225,0.193,0.148,NaN
11,Georgia,0.107,0.223,0.240,0.123,0.262,0.192,0.158,NaN
12,Hawaii,0.082,NaN,0.109,0.100,NaN,0.064,0.090,NaN
13,Idaho,0.127,NaN,0.243,NaN,0.243,0.196,0.144,NaN
14,Illinois,0.089,0.268,0.167,0.111,0.132,0.185,0.130,NaN
15,Indiana,0.111,0.279,0.242,0.226,0.203,0.226,0.140,NaN
16,Iowa,0.096,0.291,0.243,0.143,0.329,0.198,0.114,NaN
17,Kansas,0.100,0.275,0.182,0.118,0.150,0.143,0.121,NaN
18,Kentucky,0.168,0.313,0.327,0.156,NaN,0.255,0.186,NaN
19,Louisiana,0.126,0.340,0.242,0.169,0.302,0.241,0.203,NaN
20,Maine,0.120,0.490,0.134,NaN,0.303,0.270,0.130,NaN
21,Maryland,0.069,0.128,0.127,0.077,NaN,0.120,0.094,NaN
22,Massachusetts,0.067,0.189,0.264,0.142,0.213,0.151,0.105,NaN
23,Michigan,0.114,0.291,0.226,0.201,0.193,0.222,0.149,NaN
24,Minnesota,0.071,0.286,0.192,0.141,0.284,0.187,0.098,NaN
25,Mississippi,0.129,0.319,0.263,0.103,0.448,0.339,0.208,NaN
26,Missouri,0.118,0.230,0.237,0.153,0.212,0.241,0.139,NaN
27,Montana,0.119,NaN,0.143,NaN,0.241,0.209,0.131,NaN
28,Nebraska,0.087,0.281,0.246,0.197,0.320,NaN,0.117,NaN
29,Nevada,0.095,0.214,0.189,0.107,0.310,0.129,0.136,NaN
30,New Hampshire,0.063,NaN,0.150,NaN,NaN,0.203,0.069,NaN
31,New Jersey,0.064,0.171,0.183,0.064,0.273,0.120,0.103,NaN
32,New Mexico,0.124,0.213,0.241,NaN,0.325,0.211,0.201,NaN
33,New York,0.096,0.205,0.243,0.168,0.234,0.184,0.148,NaN
34,North Carolina,0.110,0.244,0.278,0.113,0.236,0.210,0.157,NaN
35,North Dakota,0.085,NaN,0.272,NaN,0.383,NaN,0.116,NaN
36,Ohio,0.110,0.306,0.259,0.154,0.303,0.261,0.144,NaN
37,Oklahoma,0.122,0.288,0.259,0.157,0.228,0.198,0.161,NaN
38,Oregon,0.111,0.257,0.231,0.149,0.242,0.177,0.134,NaN
39,Pennsylvania,0.093,0.264,0.283,0.133,0.345,0.206,0.128,NaN
40,Rhode Island,0.095,0.205,0.232,0.105,NaN,0.264,0.127,NaN
41,South Carolina,0.101,0.244,0.262,0.107,NaN,0.293,0.152,NaN
42,South Dakota,0.081,NaN,0.306,NaN,0.555,0.328,0.138,NaN
43,Tennessee,0.125,0.261,0.287,0.104,NaN,0.206,0.157,NaN
44,Texas,0.089,0.204,0.223,0.108,0.129,0.149,0.157,NaN
45,Utah,0.082,0.392,0.180,0.145,0.363,0.124,0.104,NaN
46,Vermont,0.111,NaN,NaN,NaN,NaN,NaN,0.112,NaN
47,Virginia,0.086,0.182,0.153,0.072,0.099,0.146,0.111,NaN
48,Washington,0.092,0.220,0.195,0.096,0.242,0.148,0.114,NaN
49,West Virginia,0.176,0.245,0.267,NaN,NaN,0.315,0.183,NaN
50,Wisconsin,0.088,0.313,0.242,0.186,0.271,0.198,0.118,NaN
51,Wyoming,0.105,NaN,0.178,NaN,0.216,NaN,0.117,NaN
52,Puerto Rico,0.375,0.452,0.442,NaN,NaN,0.406,0.441,NaN

In [5]:
#Remove Puerto Rico since other data doesn't include it and technically it is not a state.
poverty_2016 = poverty_2016.loc[:51]

In [6]:
# Remove the Footnotes column
poverty_2016 = poverty_2016.drop(columns=['Footnotes'])

In [7]:
# Put 0s in place of NaNs
poverty_2016 = poverty_2016.fillna(0)
poverty_2016.head(10)

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total
0,United States,0.100,0.238,0.210,0.120,0.273,0.174,0.141
1,Alabama,0.121,0.279,0.319,0.118,0.126,0.251,0.173
2,Alaska,0.068,0.000,0.178,0.000,0.274,0.104,0.106
3,Arizona,0.110,0.211,0.238,0.136,0.360,0.155,0.165
4,Arkansas,0.138,0.288,0.255,0.129,0.263,0.254,0.172
5,California,0.096,0.223,0.190,0.113,0.226,0.132,0.144
6,Colorado,0.081,0.190,0.172,0.116,0.223,0.152,0.108
7,Connecticut,0.058,0.182,0.194,0.096,0.000,0.137,0.095
8,Delaware,0.080,0.151,0.287,0.085,0.000,0.173,0.117
9,District of Columbia,0.076,0.281,0.217,0.140,0.000,0.000,0.191

In [8]:
# Import the csv file and do the same modifications like we did to the 2016 file
poverty_2016.to_csv('Resources/poverty_2016_clean.csv')

In [10]:
csv_2 = 'Resources/2017poverty.csv'
poverty_2017 = pd.read_csv(csv_2)

In [11]:
poverty_2017 = poverty_2017.loc[:51]
poverty_2017 = poverty_2017.drop(columns=['Footnotes'])
poverty_2017 = poverty_2017.fillna(0)
poverty_2017.head(10)

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total
0,United States,0.096,0.229,0.193,0.112,0.262,0.159,0.134
1,Alabama,0.117,0.269,0.306,0.193,0.000,0.239,0.168
2,Alaska,0.083,0.000,0.000,0.000,0.246,0.112,0.117
3,Arizona,0.101,0.230,0.197,0.109,0.360,0.143,0.147
4,Arkansas,0.130,0.278,0.237,0.150,0.284,0.163,0.162
5,California,0.089,0.204,0.174,0.103,0.177,0.121,0.132
6,Colorado,0.083,0.136,0.163,0.086,0.128,0.122,0.103
7,Connecticut,0.058,0.147,0.204,0.088,0.000,0.119,0.094
8,Delaware,0.094,0.190,0.202,0.123,0.000,0.190,0.129
9,District of Columbia,0.059,0.249,0.154,0.175,0.000,0.000,0.164

In [ ]:
poverty_2017.to_csv('poverty_2017_clean.csv')

In [13]:
#Import population csv file into a dataframe
csv_3 = 'Resources/population.csv'
population = pd.read_csv(csv_3)
population.head()

,rank,State,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density
0,1,California,39613493,0.0038,39461588,37319502,0.0615,0.1184,254.2929
1,2,Texas,29730311,0.0385,28628666,25241971,0.1778,0.0889,113.8081
2,3,Florida,21944577,0.0330,21244317,18845537,0.1644,0.0656,409.2229
3,4,New York,19299981,-0.0118,19530351,19399878,-0.0051,0.0577,409.5400
4,5,Pennsylvania,12804123,0.0003,12800922,12711160,0.0073,0.0383,286.1704

In [14]:
# Filter out the following four columns that we would like to keep and change the names of the columns
population_df = population[['rank', 'State', 'Pop2018', 'density']]
population_df = population_df.rename(columns={'State': 'state', 'Pop2018': 'population', 'density': 'density_per_sq_mi'})

In [15]:
population_df.head()

   rank         state  population  density_per_sq_mi
0     1    California    39461588           254.2929
1     2         Texas    28628666           113.8081
2     3       Florida    21244317           409.2229
3     4      New York    19530351           409.5400
4     5  Pennsylvania    12800922           286.1704

In [ ]:
#Save to a new clean csv file
population_df.to_csv('population_clean.csv')